*.class

# Package Files #
*.jar
*.war
*.ear
/Xardas/nbproject/private/
/Xardas/build/
/Xardas/dist/
/XardasGolem/nbproject/private/
/XardasGolem/dist/
/XardasGolem/build/
/XardasComputerbase/nbproject/private/
/XardasNetworkmonitor/nbproject/private/
/XardasTvmovie/nbproject/private/
/XardasOutspeech/nbproject/private/
/XardasInspeech/nbproject/private/
/XardasComputerbase/build/
/XardasComputerbase/dist/
/XardasInspeech/dist/
/XardasInspeech/build/
/XardasNetworkmonitor/build/
/XardasNetworkmonitor/dist/
/XardasOutspeech/dist/
/XardasOutspeech/build/
/XardasTvmovie/dist/
/XardasTvmovie/build/